In [2]:
import geopandas as gpd
import pandas as pd

In [3]:
stops=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Sep2018/shapes/stops_nyc_subway_Sep2018.shp')

In [4]:
stops_may=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/stops_nyc_subway_may2019/stops_nyc_subway_may2019.shp')

In [5]:
stops_may.loc[pd.notnull(stops_may.stop_id2)]

,stop_id,stop_name,stop_lat,stop_lon,trains,structure,stop_id2,GEOID,NAMELSAD,geometry
151,A12,145 St,40.824783,-73.944216,A C,Subway,D13,36061,New York County,POINT (999688.8810202146 239772.8124536319)
167,A32,W 4 St,40.732338,-74.000495,A C E,Subway,D20,36061,New York County,POINT (984112.8125671004 206087.0594983613)
295,D43,Coney Island - Stillwell Av,40.577422,-73.981233,D F N Q,Viaduct,N12,36047,Kings County,POINT (989463.2969787853 149647.4038180028)
404,718,Queensboro Plaza,40.750582,-73.940202,7,Elevated,R09,36081,Queens County,POINT (1000818.257434258 212739.5831276691)

In [21]:
stops_may.columns

Index(['stop_id', 'stop_name', 'stop_lat', 'stop_lon', 'trains', 'structure',
       'stop_id2', 'GEOID', 'NAMELSAD', 'geometry'],
      dtype='object')

In [15]:
stops_jun=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/June2019/shapes/stops_nyc_subway_june2019.shp')

In [16]:
stops_jun.shape

(497, 16)

In [17]:
[stop_id for stop_id in stops_jun.stop_id.tolist() if stop_id not in stops_may.stop_id.tolist()]

['140', 'H19', 'S10', 'S12']

In [20]:
stops_jun.loc[stops_jun.stop_id.isin(['140', 'H19', 'S10', 'S12'])]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_t,parent_sta,trains,structure,stop_id2,GEOID,NAMELSAD,geometry
104,140,None,South Ferry Loop,None,40.701411,-74.013205,None,None,1,None,None,None,None,36061,New York County,POINT (980588.5841761361 194819.6842230781)
456,H19,None,Broad Channel,None,40.609014,-73.816024,None,None,1,None,None,None,None,36081,Queens County,POINT (1035332.600614185 161210.2559843885)
475,S10,None,Atlantic,None,40.515401,-74.245689,None,None,1,None,None,None,None,36085,Richmond County,POINT (915936.6084468698 127146.9151822899)
477,S12,None,Nassau,None,40.517812,-74.238373,None,None,1,None,None,None,None,36085,Richmond County,POINT (917973.1944851369 128019.6742529728)

In [ ]:
stops.loc[~stops.stop_id.isin(stops_may.stop_id.unique().tolist()), 'stop_id'].tolist()

In [7]:
stops_may2018=pd.read_csv('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/May2018/nyc_subway/stops.txt')

In [8]:
stops_may2018.loc[stops_may2018.stop_id.isin(['140', 'H19', 'S10', 'S12'])]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
111,140,NaN,South Ferry Loop,NaN,40.701411,-74.013205,NaN,NaN,1,NaN
1086,H19,NaN,Broad Channel,NaN,40.609014,-73.816024,NaN,NaN,1,NaN
1437,S10,NaN,Atlantic,NaN,40.515401,-74.245689,NaN,NaN,1,NaN
1443,S12,NaN,Nassau,NaN,40.517812,-74.238373,NaN,NaN,1,NaN

In [9]:
bus_rail=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Sep2018/shapes/metro_north_bx_bus_Sep2018.shp')

In [10]:
bus_rail.head()

,stop_id,stop_name,stop_lat,stop_lon,GEOID,NAMELSAD,geometry
0,502,Kappock St/Knolls Crescent,40.879135,-73.916842,36005,Bronx County,POINT (1007246.158052433 259581.3181720213)
1,504,Henry Hudson Pkwy/Independence Ave,40.881049,-73.919170,36005,Bronx County,POINT (1006601.739589655 260278.0619491932)
2,505,227th St/Henry Hudson Pkwy-East Side,40.881836,-73.917936,36005,Bronx County,POINT (1006942.706134422 260565.1147141825)
3,506,232nd St/Henry Hudson Pkwy,40.884732,-73.914546,36005,Bronx County,POINT (1007879.09456679 261621.1396769463)
4,507,235th St/Henry Hudson Pkwy-East Side,40.886127,-73.912400,36005,Bronx County,POINT (1008471.981809957 262129.9803015306)

In [19]:
lirr=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Sep2018/shapes/stops_LIRR_Sep2018.shp')

In [20]:
lirr.head()

,stop_id,stop_name,stop_lat,stop_lon,GEOID,NAMELSAD,geometry
0,1,Long Island City,40.74128,-73.95639,36081,Queens County,POINT (996334.729001164 209347.9198687444)
1,2,Hunterspoint Avenue,40.74238,-73.94679,36081,Queens County,POINT (998994.7328762955 209750.1549324456)
2,9,Woodside,40.74584,-73.90297,36081,Queens County,POINT (1011136.053891131 211021.1556908129)
3,10,Forest Hills,40.71957,-73.84481,36081,Queens County,POINT (1027268.557544581 201473.3875489176)
4,11,Kew Gardens,40.70964,-73.83089,36081,Queens County,POINT (1031134.151348136 197862.7357058352)

In [22]:
bus=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Sep2018/shapes/bus_stops_nyc_Sep2018.shp')

In [23]:
bus.head()

,stop_id,stop_name,stop_lat,stop_lon,GEOID,NAMELSAD,geometry
0,100294,BRUCKNER BL/TREMONT AV,40.833150,-73.827630,36005,Bronx County,POINT (1031949.407765885 242863.2320205418)
1,100296,BRUCKNER BL/KEARNEY AV,40.839142,-73.824818,36005,Bronx County,POINT (1032723.196746612 245047.8794435479)
2,100298,MACDONOUGH PL/COUNTRY CLUB,40.842607,-73.825077,36005,Bronx County,POINT (1032649.010098742 246310.1628801106)
3,101716,BAYCHESTER AV/ALDRICH ST,40.870415,-73.832488,36005,Bronx County,POINT (1030579.107005887 256437.6590170595)
4,101717,BAYCHESTER AV/DONIZETTI PL,40.876173,-73.833697,36005,Bronx County,POINT (1030240.749229186 258534.8849715356)

In [4]:
rail_lines=gpd.read_file('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/routes_nyc_subway_may2019/routes_nyc_subway_may2019.shp')

In [5]:
rail_lines

,route_id,route_shor,route_long,color,group,geometry
0,1,1,Broadway - 7 Avenue Local,#EE352E,123,(LINESTRING (1011660.704076381 261601.44183307...
1,2,2,7 Avenue Express,#EE352E,123,(LINESTRING (998782.4945450872 169839.93924142...
2,3,3,7 Avenue Express,#EE352E,123,(LINESTRING (1016408.940591335 182025.04971367...
3,4,4,Lexington Avenue Express,#00933C,456,(LINESTRING (1014855.184184417 257720.67227225...
4,5,5,Lexington Avenue Express,#00933C,456,(LINESTRING (980249.6395505071 195807.80036333...
5,6,6,Lexington Avenue Local,#00933C,456,(LINESTRING (1008046.831003264 232705.99165867...
6,7,7,Flushing Local,#B933AD,7,(LINESTRING (1028046.997695759 214648.30205233...
7,A,A,8 Avenue Express,#2850AD,ACE,(LINESTRING (1036966.945735097 154272.59570425...
8,B,B,6 Avenue Express,#FF6319,BDFM,(LINESTRING (1000167.135476589 240600.53000342...
9,C,C,8 Avenue Local,#2850AD,ACE,(LINESTRING (1019725.639338508 185360.35931600...
10,D,D,6 Avenue Express,#FF6319,BDFM,(LINESTRING (1015472.518579677 257460.59273992...
11,E,E,8 Avenue Local,#2850AD,ACE,(LINESTRING (981538.4279834181 198889.49072225...
12,F,F,Queens Blvd Express/ 6 Av Local,#FF6319,BDFM,(LINESTRING (989463.2969761789 149647.40383917...
13,FS,S,Franklin Avenue Shuttle,#808183,S,(LINESTRING (994724.4875692576 180322.46814508...
14,G,G,Brooklyn-Queens Crosstown,#6CBE45,G,(LINESTRING (989889.6307691783 173918.53508684...
15,GS,S,42 St Shuttle,#6D6E71,S,(LINESTRING (990015.9238236696 213531.40763258...
16,H,S,Rockaway Park Shuttle,#808183,S,(LINESTRING (1029918.59729901 150957.917294248...
17,J,JZ,Nassau St Local,#996633,JZ,(LINESTRING (1010735.128776252 186850.29564058...
18,L,L,14 St-Canarsie Local,#A7A9AC,L,(LINESTRING (1011486.884490594 174885.12731376...
19,M,M,QNS BLVD-6th AVE/ Myrtle Local,#FF6319,BDFM,(LINESTRING (1000574.566420257 194405.55054317...
20,N,N,Broadway Local,#FCCC0A,NQRW,(LINESTRING (989928.8849557638 218444.41388267...
21,R,R,Broadway Local,#FCCC0A,NQRW,(LINESTRING (980355.4346145093 174292.72134633...
22,SI,SIR,Staten Island Railway,#053159,SIR,(LINESTRING (914189.9314470887 126191.15317958...
23,Q,Q,Broadway Express,#FCCC0A,NQRW,LINESTRING (989494.9920657912 149652.686354106...
24,W,W,Broadway Local,#FCCC0A,NQRW,LINESTRING (1008613.828143026 221655.557823542...

In [6]:
metro=pd.read_csv('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Nov2018/metro_north/shapes.txt')

In [27]:
metro.shape

(951, 5)

In [25]:
metro.duplicated(['shape_pt_lat', 'shape_pt_lon']).sum()

809

In [8]:
metro_new=pd.read_csv('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/June2019/metro_north/shapes.txt')

In [26]:
metro_new.duplicated(['shape_pt_lat', 'shape_pt_lon']).sum()

53590

In [29]:
metro_new.shape[0]-metro_new.duplicated(['shape_pt_lat', 'shape_pt_lon']).sum()

14183

In [31]:
import os

In [35]:
os.path.exists('/Users/anastasiaclark/MyStaff/Git_Work/MTA-Mass-Transit/Nov2018')

True